@-webkit-keyframes animacao1 { 
  0% {background: #D62623;}
  50% {background: #EE3430;}
  100% {background: #FB3733;} }

:root {
  --animation: glitch; /* glitch, hue, fade, shrink */
  --speed: 2s;
  --easing: linear;
}

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background: #191919;}

#Gameover {
  height: 100%;
  width: 100%;
  background-color: #3d3d3d;
  justify-content: center;
  align-content: center;
  border-radius: 40px;
  -webkit-animation-name: animacao1;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function:  linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

/*Empieza Header*/
#Header {
  text-align:center;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;  
}

#Header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


.Logo {
  color: transparent;
  position: left;
  text-align: center;
  font-size: 40px;
  font-family: 'Black Ops One', cursive;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
}

.Header-right {
  float: right;
}


#Header a.Active {
  background-color: #6c7059; 
  color: #7fff00;
  text-align: center;
  font-family: 'Black Ops One', cursive;
}



​@media screen and (max-width: 500px) {
  #Header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .Header-right {
    float: none;
  }
}

/*Termina Header*/

img {
  width: 10%; height: 10%;
  margin-top: 0px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  transform:scale(1);
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.Gameover {
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:5vw;
    font-family: 'Black Ops One', cursive;
    line-height: 100%;
    text-align: center;
    color: orange;
    text-shadow: 2.5px 2.5px #000000;
    animation: var(--animation) var(--speed) infinite var(--easing);
}

.Gameover p {
      margin-top: 5%;
      margin-bottom: 0px;
      font-size: 160px;
      font-family: 'Black Ops One', cursive;
      line-height: 140px;
      text-align: center;
      text-shadow: 5px 5px #000000;
      color: #7fff00;}

@media screen and (max-width: 375px) {
  div.Gameover {
    font-size: 13vw;
  }
}

.User {
  width: 100%;
  height: auto;
  padding-top: 2%;}

.User p {
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  font-size: 2.5vW;
  font-weight: bold;
  font-family: 'Black Ops One', cursive;
  color: orange;
  text-shadow: 2.5px 2.5px #000000;}

 button {
        background-color: #000000;
        color: #7fff00;
        padding: 15px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 100%;
        font-family: 'Black Ops One', cursive;
        font-size: 2vw;-webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}  

button:hover {
  background-color: #7fff00;
  color:#000000;
}


    .TryAgain {
        padding: 15px 20px;
        background-color: #000000;
        color: #7fff00;
    }

    .TryAgain,.SaveExit {
        float: left;
        width: 50%;
    }

    .Relative::after {
        content: "";
        clear: both;
        display: table;
    }

     
    @media screen and (max-width: 375px) {
        .TryAgain,
        .SaveExit {
            width: 100%;
            font-size: 9vw;
        }
    }

.Code {
  width: 100%;
  height: auto;
  padding-top: 2%;}

.Code p {
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  font-size: 2.5vW;
  font-weight: bold;
  font-family: 'Black Ops One', cursive;
  color: orange;
  text-shadow: 2.5px 2.5px #000000;}

  @media screen and (max-width: 375px) {
        .Code p,.User p{
          font-size: 10vw;
        }
    }
/*Termina Win*/