html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background: #3d3d3d;}

/*Empieza Header*/
#Header {
  text-align:center;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;  
}

#Header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 2vw; 
  line-height: 25px;
  border-radius: 4px;
}


.Logo {
  color: transparent;
  position: left;
  text-align: center;
  font-size: 40px;
  font-family: 'Black Ops One', cursive;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
}

.Header-right {
  float: right;
}


#Header a.Active {
  background-color: #6c7059; 
  color: #7fff00;
  text-align: center;
  font-family: 'Black Ops One', cursive;
}

/*Terminar Header*/


#General {
	margin:auto;
	width: 500px;
	height: 500px;
}

#General > div {
	background-color: white;
	border: 1px solid black;
	float: left;
}

#ButtonStart {
	display: block;
	margin: 20px auto auto auto;
	position: absolute;top: 50%;
	width:20%;
	height: 20%;
	font-size: 50px;
	background-color: black;
	color:#7fff00;
	float:right;
}

#ButtonCheck {
	display: block;
	margin: 20px auto auto auto;
	visibility: hidden;
	position: absolute;top: 50%;
	width:20%;
	height: 20%;
	font-size: 50px;
	background-color:black;
	color:#7fff00;
	float:right;
}


/*FOOTER*/

.Footer {

   	position: fixed;
  	background-color: black;
   	box-sizing: border-box;
   	bottom: 0;
   	width: 100%;
   	background-color: #191919;
   	color: #7fff00;
   	text-align: center;
}

