#general {
	margin:auto;
	width: 500px;
	height: 500px;
}

#general > div {
	background-color: white;
	border: 1px solid black;
	float: left;
}

#buttonStart {
	display: block;
	margin: 20px auto auto auto;
	position: absolute;top: 50%;
	width:20%;
	height: 20%;
	font-size: 50px;
	background-color: black;
	color:#7fff00;
}

#buttonCheck {
	display: block;
	margin: 20px auto auto auto;
	visibility: hidden;
	position: absolute;top: 50%;
	width:20%;
	height: 20%;
	font-size: 50px;
	background-color:black;
	color:#7fff00;

}



